# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test data
*.csv
summary.txt
local-sales/
*-back.csv

# AWS local files
.aws/
.env
